<svg width="28" height="28" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="shrink-0" aria-hidden="true">
  <path d="M27 4L17.5 11l1.8-4.3L27 4z" fill="#E17726" stroke="#E17726" stroke-linejoin="round"/>
  <path d="M5 4l9.4 7.1-1.7-4.4L5 4z" fill="#E27625" stroke="#E27625" stroke-linejoin="round"/>
  <path d="M23.3 21.6l-2.5 3.9 5.4 1.5 1.5-5.3-4.4-.1z" fill="#E27625" stroke="#E27625" stroke-linejoin="round"/>
  <path d="M4.3 21.7l1.5 5.3 5.4-1.5-2.5-3.9-4.4.1z" fill="#E27625" stroke="#E27625" stroke-linejoin="round"/>
  <path d="M11.6 14.5L9.9 17l5.4.2-.2-6-3.5 3.3z" fill="#E27625" stroke="#E27625" stroke-linejoin="round"/>
  <path d="M20.4 14.5l-3.6-3.4-.1 6.1 5.4-.2-1.7-2.5z" fill="#E27625" stroke="#E27625" stroke-linejoin="round"/>
  <path d="M11 22.1l3.3-1.6-2.8-2.2-.5 3.8z" fill="#E27625" stroke="#E27625" stroke-linejoin="round"/>
  <path d="M17.7 20.5l3.3 1.6-.5-3.8-2.8 2.2z" fill="#E27625" stroke="#E27625" stroke-linejoin="round"/>
</svg>
